include *.py *.txt
include *.sublime-* *.hidden-tmLanguage

exclude setup.py
exclude *.sublime-project
exclude *.sublime-workspace
exclude _*.txt
exclude *.cache

graft Doc
prune dist
prune data
